*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    position: relative;
    min-height: 100vh;
    background: #111;
}

#foo
{
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #ff0;
    top: 0;
    left: 0;
    -moz-transition: all 1s; 
    -webkit-transition: all 1s;  
    -ms-transition: all 1s;  
    -o-transition: all 1s;  
    transition: all 1s; 
}